node_modules
images
################################################################################
# PRISMA
################################################################################
.env
/prisma/generated
################################################################################
# PRISMA
################################################################################
