node_modules

################################################################################
# PRISMA
################################################################################
.env
/prisma/generated
################################################################################
# PRISMA
################################################################################
